{% extends 'main/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% load static %}

  <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <img src="{% static 'img/SolvroTransportAssistant_logo.png' %}" width="300"/>
    <h1 class="display-4">Welcome to Solvro Transport Assistant</h1>
    <p class="lead">A simple application that allows you to find the shortest route between two stops in Solvro City.</p>
  </div>
    
  <a href="#" class="btn btn-lg btn-block btn-outline-primary col-md-6 mx-auto">Find the shortest route</a>
    
{% endblock %}