{% extends 'main/base.html' %}
{% block title %}Create account{% endblock %}

{% block content %}

{% if error %}
<div class="alert alert-primary col-md-6 mx-auto mt-3" role="alert">
  {{ error }}
</div>
{% endif %}

<div class="card card-body col-md-6 mx-auto pt-4">
    <h1 class="display-4 text-center">Create account</h1>
    
    {% load crispy_forms_tags %}
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
  
</div>

{% endblock %}